.bibbase_paper {
    margin-bottom: 5px;
}


.bibbase_paper_title {
    font-weight: bold;
}

.bibbase_paper_title a {
    color: inherit !important;
    text-decoration: none !important;
}

.bibbase_paper_title a:hover {
    border-bottom: 1px dotted #ccc;
}

span.bibbase_group_count {
    font-size: smaller;
}

.bibbase_group_head i {
    display: inline-block;
    width: 20px;
}


.bibbase_msg {
    text-align: center;
    width: 80%;
    margin: auto;
}

#bibbase_embed_modal {
    width: 70%;
    left: 15%;
    margin: 0;
}

.bibbase.well {
    margin: 20px;
    overflow-wrap: break-word;
}

.bibbase.link {
    text-decoration: none;
}

.bibbase_paper_content {
    font-size: smaller;
}

.bibbase_paper_content a {
    text-decoration: none;
}

.bibbase.read {
    border-radius: 3px 3px 3px 3px;
    color: #bbb !important;
    padding: 1px 8px 1px 8px;
    display: inline-block;
    /* width: 20px; */
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.5s, background-color 0.5s;
    -webkit-transition: width 0.5s, background-color 0.5s;
    vertical-align: middle;
    font-size: 1vh;
}

.bibbase.read span {
    width: 0px;
}

.bibbase.read.hasread {
    color: #63CF5F !important;
}

.bibbase.read:hover {
    background-color: #ddd;
    width: 20vh;
}

.bibbase.read:hover span {
    width: inherit;
}

.bibbase.read.hidden {
    /* #LATER: Remove this class for logged in users. */
    display: none;
}

#bibbase li {
    list-style: none;
}
